<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- First rule for Node.js debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- Rule for static files -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
        </rule>

        <!-- Next.js _next folder static content -->
        <rule name="NextStaticFiles" stopProcessing="true">
          <match url="/_next/*" />
          <action type="Rewrite" url="{REQUEST_URI}" />
        </rule>

        <!-- API routes -->
        <rule name="API Routes" stopProcessing="true">
          <match url="^/api/.*" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- All other routes -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Optional: Add MIME types if needed -->
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
</configuration>